.aboutSection{
  /* border: 1px solid red; */
  display:flex;
  flex-direction: column;
 align-items: center;
 width: 100%;
 /* background-color: var(--maingrey); */
 color:var(--mainBlack);
 
}

.aboutCenter{
  /* border: 1px solid red; */
  display:flex;
  flex-direction: column;
 align-items: center;
 width: 100%;
}

.itemsWrapper{
  /* border: 1px solid blue; */
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem 0 0;
}

.aboutImgWrapper{
  /* border: 1px solid red; */
 /* margin: 0 0 1rem; */
 display:flex;
 justify-content: center;
 max-width: 99%;
 flex-direction: column;
 align-items: center;
}

.imgContainer {
  /* border: 1px solid red; */
 width: 100%;
 background-position: cover;
 
}

.aboutInfo button {
  /* border: 1px solid green; */
  margin:1rem 0;
  padding: 1rem 0.5rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
  transition: all 0.7s;
}

.aboutInfo:hover button {
  background: transparent;
  color: var(--primaryColor);
}

.paragraphContainer {
  /* border: 1px solid green; */
  display:flex;
  flex-direction: column;
 max-width: 548px;
  
}






