.faqTitleWrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 1rem;
}

.faqWrapper {
  /* border: 1px solid red; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background-color: var(--mainWhite); */
}
.faqSecondary {
  /* border: 1px solid red; */
  display: flex;
 justify-content: center;
 margin: 1rem;
 max-width:90%;
 background-color: var(--mainWhite);
 padding: 10px;
}

.faqWrapper h1 {
  /* border: 1px solid red; */
  display: flex;
  color: #6caa14;
  /* font-size: 1.6rem; */
}
.faqWrapper h3 {
  /* border: 1px solid red; */
  display: flex;
  color: var(--mainBlack);
  /* font-size: 1.6rem; */
  margin-top: -10px;
}

.faqWrapper h5 {
  display: flex;
  color: var(--mainBlack);
  display: flex;
  margin: 0;
}
.faqWrapper h5 a {
  color: #084d88;
}

.faqWrapper p {
  /* border: 1px solid red; */
  display: flex;
 /* justify-content: center; */
 color: rgb(34, 34, 34);
 width:90%;
 margin:10px 0 0;
}


@media screen and (min-width: 768px) {
  .faqWrapper p {
   width:700px;
  }
  }