
.defaultHero {
     /* background-position: center; */
     /* background-size: cover; */
     /* background-repeat: repeat no-repeat; */
    display: flex;
    background-color: white;
    justify-content: center;
    max-height: 280px;
    min-width: 280px;
    /* overflow: hidden;  */
    /* border: 1px solid red; */
   }


   @media screen and (min-width: 768px) {
    .defaultHero{
      max-height: 500px;
      max-width:500px;
    }
  }


 