.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - (var(--navHeight) + var(--footerHeight)));
}
.leftColumn {
  display: flex;
  flex-direction: column;
}
.rightColumn {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.totalText {
  font-weight: bold;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 175px;
  border: 1px solid rgb(255, 123, 0);
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .mainContainer {
    flex-direction: row;
  }
  .leftColumn {
    width: 75%;
  }
  .rightColumn {
    width: 25%;
    border-left: 1px solid grey;
  }
}