.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-right: 50px;
  /* border: 1px solid red; */
}
.container:focus {
  outline: none;
  /* border: 1px solid red; */
}
.container p {
  /* border: 1px solid red; */
  font-size: 14px;
  color: black;
  /* font-weight: bold; */
  margin-left: 5px;
  margin-bottom: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}
