.mainContainer {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: var(--mainWhite);
  box-shadow: 1px 1px 10px #888888;
}
.navIcon {
  align-self: flex-end;
  margin: 10px 20px 10px 0;
  cursor: pointer;
}
.hamburgerIcon {
  outline: none;
}
.navItems {
  display: flex;
  flex-direction: column;
}
/* .itemContainer {
} */
.itemLink {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.itemLink span {
  text-decoration: underline;
}
.subContainer {
  display: flex;
  flex-direction: column;
}
.subLink {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.subLink:hover span {
  color: rgb(255, 123, 0);
}
.itemLink:hover span {
  color: rgb(255, 123, 0);
}
.itemText {
  color: black;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mainContainer {
    height: var(--navHeight);
  }
  .navIcon {
    display: none;
  }
  .navItems {
    flex-direction: row;
    justify-content: space-around;
  }
  .itemLink {
    width: 100px;
  }
  .subContainer {
    display: none;
    background-color: white;
    border: 1px solid #888888;
  }
  .subContainer > .subLink:not(:last-child) {
    border-bottom: 1px solid #888888;
  }
  .itemContainer {
    height: 50px;
    max-width: 100px;
  }
  .itemContainer:hover .subContainer {
    display: flex;
  }
}

@media screen and (min-width: 968px) {
  .itemLink {
    width: 150px;
  }
  .itemContainer {
    max-width: 150px;
  }
}
