.mainContainer {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  height: var(--navHeight);
  top: 0;
  z-index: 20;
  background-color: var(--mainWhite);
  box-shadow: 1px 1px 10px #888888;
  width: 100%;
  /* border: 1px solid red; */
}
.navIcon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin-right: 20px;
  
}
.hamburgerIcon {
  outline: none;
}
.navItems {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 200px;
  overflow: scroll;
  /* background-color: #87ae93; */
  background-color: var(--mainWhite);
  border-top: 1px solid #888888;
}
.navItems:hover{
  color:#6caa14;
}
/* .itemContainer {
} */
.itemLink {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--navHeight);
}
/* .itemLink span {
  text-decoration: underline;
} */
.subContainer {
  display: flex;
  flex-direction: column;
}
.subLink {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.subLink:hover span {
  color: #6caa14;;
  /* color: var(--mainWhite); */
}
.itemLink:hover span {
  color:#6caa14;;
  /* color: var(--mainWhite); */
}
.itemText {
  color: black;
  text-align: center;
}
.wideList {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .navIcon {
    display: none;
  }
  .navItems {
    flex-direction: row;
    justify-content: space-around;
    min-height: var(--navHeight);
    padding-bottom: 0;
    overflow: visible;
  }
  .itemLink {
    width: 100px;
  }
  .subContainer {
    display: none;
    background-color: white;
    border: 1px solid #888888;
  }
  .subContainer > .subLink:not(:last-child) {
    border-bottom: 1px solid #888888;
  }
  .itemContainer {
    height: 50px;
    max-width: 100px;
  }
  .itemContainer:hover .subContainer {
    display: flex;
  }
  .wideList {
    display: flex;
  }
}

@media screen and (min-width: 968px) {
  .itemLink {
    width: 150px;
  }
  .itemContainer {
    max-width: 150px;
  }
}
