.singleItems {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  min-width: 300px;
  width: 300px;
  margin: 1rem;
}
.singleItems:hover {
  box-shadow: var(--darkShadow);
}
.img {
  position: relative;
  height: 300px;
  width: 100%;
}

.footer {
  padding: 1rem;
  text-align: left;
}
.footer h3 {
  text-transform: capitalize;
  margin-bottom: 0;
  font-size: 18px;
  text-align: left;
}

.details {
  color: grey;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  margin-top: 0.6rem;
}
.details h5 {
  margin-bottom: 0;
}
