.slideContainer {
  max-width: 550px;
  margin: auto;
}

.eachSlide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
  min-width: 500px;
  overflow: hidden;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}








